# Health Platform requirements
# 
# Virtual Environment: 
# > python3 -m venv .venv
# > source .venv/bin/activate
# > python3 -m pip install -r requirements.txt

awswrangler==2.13.0
numpy==1.22.0
pandas==1.3.5
pytz==2021.3
