.meeting-table {
  overflow: auto;
  height:auto;
  width: 100%;
  max-height: 60vh;
}

.meeting-table th {
  position: sticky;
  top: 0;
  background: white;
  z-index: 1;
}

.meeting-table .faint-text {
  color: #999;
}

.meeting-table .no-calls-found {
  margin-top: 48px;
}

.meeting-table .no-calls-icon {
    margin-bottom: 12px;
}
