{
  "version": "2018-05-29",
  "operation": "GetItem",
  "key": #if( $modelObjectKey ) $util.toJson($modelObjectKey) #else {
  "patient_id": $util.dynamodb.toDynamoDBJson($ctx.args.patientId)
} #end
}